:root{
	--color-primary: #101928;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-family: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: "Source Sans Pro", sans-serif;
}

body {
}

.header {
	display: flex;
	height: 8rem;
	/* background: cyan; */
	align-items: center;
	/* justify-content: space-between; */
}

.header .logo img {
	margin-left: 10rem;
	margin-right: 15rem;
	height: 5rem;
}

.header .links{
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	margin-right: 5rem;
}
.header .links a {
	text-decoration: none;
	font-size: 2rem;
	color: var(--color-primary);
	font-weight: 600;
}

.header .links p{
	margin-top: 1rem;
	margin-right: 1rem;
	border: 1px solid var(--color-primary);
	height: 0.7rem;
	width: 0.7rem;
	border-radius: 50%;
	background-color: var(--color-primary);
	position: relative;
	cursor: pointer;
}

.header .links p::before{
	content: "";
	position: absolute;
	height: 0.7rem;
	width: 0.7rem;
	background-color: inherit;
	border: 1px solid var(--color-primary);
	top: -12px;
	left: -1px;
	border-radius: 50%;
}

.header .links p::after{
	content: "";
	position: absolute;
	height: 0.7rem;
	width: 0.7rem;
	background-color: inherit;
	border: 1px solid var(--color-primary);
	top: 11px;
	left: -1px;
	border-radius: 50%;
}

.header .links input{
	width: 35rem;
	height: 4rem;
	border-radius: 3rem;
	border: 2px solid var(--color-primary);
	background-color: transparent;
}
.header .links input::placeholder{
	font-weight: 600;
	font-size: 2rem;
	color: var(--color-primary);
	/* margin: 3rem 0; */
	text-align: right;
	margin-right: 2rem;
}
.section-1{
	overflow: hidden;
	position: relative;
}
.section-1 img{
	/* position: absolute; */
	width: 99vw;
	height: 100%;
}